{% extends "layout.html.twig" %}

{% block title %}Ajouter - {{ parent() }}{% endblock %}

{% block body %}
    <!--Header-area-->
    <header class="header-area-observation overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text-observation">
                        <h2>Ajouter une observation</h2>
                        <h3>Merci de contribuer à la communauté !</h3>
                    </div>
                </div>
            </div>
    </header>
    <section class="section-padding" id="blog-page">
        <div class="container" id="pageObservation">
            <div class="row">

                    <main class="container marge-top">
                        <section>
                            <div class="row">
                                <div class="col-s12">
                                    <div class="card no-style">
                                        <div class="card-content">
                                            <form id="observation_form" method="post" autocomplete="off" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-s12 l6 main-section">

                                                        <div class="input-field col-s12">
                                                            <label>Lieu</label>
                                                            <!--<a id="geoloc" href="#" class="light-2"><i class="material-icons">gps_fixed</i></a>-->
                                                            {{ form_widget(form.place) }}
                                                            <ul id="dropPlace" class="autocomplete-content dropdown-content"></ul>
                                                            <div class="error">{{ form_errors(form.place) }}</div>
                                                            <!--<p class="left-align"><a href="#pointer_map" id="action_map" class="caption light-2-no-hov small modal-trigger">Pointer sur la carte</a></p>-->
                                                        </div>

                                                        <input style="display:none">
                                                        <div class="input-field col-s12">
                                                            <label>Date</label>
                                                            {{ form_widget(form.watched) }}
                                                            <div class="error">{{ form_errors(form.watched) }}</div>
                                                        </div>

                                                        <div class="input-field col-s12">
                                                            <label>Espèce observée</label>
                                                            {{ form_widget(form.taxref.customname) }}
                                                            <ul id="dropBird" class="autocomplete-content dropdown-content" style="margin-top: -20px; opacity: 1; position: absolute;"></ul>
                                                            <div class="error">{{ form_errors(form.taxref.customname) }}</div>
                                                            <p class="left-align"><a href="http://www.oiseaux.net/oiseaux/france.html" class="caption light-2-no-hov small" target="_blank">Besoin d'aide ?</a></p>
                                                        </div>

                                                        <div class="input-field col-s12">
                                                            <div class="row">
                                                                <div class="col-s9">
                                                                    <label>Nombre d'individus observés</label>
                                                                </div>
                                                                <div class="col-s3">
                                                                    {{ form_widget(form.individuals) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="input-field col-s12 center-align">
                                                            <div class="file-field input-field">
                                                                <div class="btn-floating btn-large waves-effect waves-light">
                                                                    <i class="material-icons dp48" >add_a_photo</i>
                                                                    {{ form_widget(form.imagepath) }}
                                                                </div>
                                                                <div class="file-path-wrapper">
                                                                    <input class="file-path validate valid" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="error">{{ form_errors(form.imagepath) }}</div>
                                                        </div>

                                                        <div class="col-s12 ">
                                                            <label>Comportement observé (facultatif)</label>
                                                            {{ form_widget(form.comments) }}
                                                            <div class="error">{{ form_errors(form.comments) }}</div>
                                                        </div>
                                                    </div>

                                                    <div id="obs-action" class="col-s12 center-align">
                                                        {{ form_widget(form.save_draft, {'attr': {'class':'btn-secondary'} }) }}
                                                        {{ form_widget(form.save_published, {'attr': {'class':'btn-light'} }) }}
                                                    </div>

                                                </div>
                                                {{ form_end(form) }}
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- MAPS MODAL -->
                            <div id="pointer_map" class="modal">
                                <div id="maps"></div>
                            </div>
                        </section>
                    </main>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            /**************************
             * Autocomplete city name
             ***************************************/
            $('#observation_place').materialize_autocomplete({
                limit: 6,
                cacheable: true,
                multiple: {
                    enable: false
                },
                dropdown : {
                    el: '#dropPlace'
                },
                getData: function (value, callback) {
                    var data = [];
                    $.ajax({
                        url: "{{ url('region.search.city') }}?bearer={{ jwt.token }}",
                        type: "POST",
                        dataType: "json",
                        data: { "city": value },
                        success: function (response) {
                            if(!response.length){
                                $('#observation_latitude').val('');
                                $('#observation_longitude').val('');
                            }
                            callback(value, response);
                        }
                    });
                },
                onSelect: function (item) {
                    $('#observation_latitude').val('');
                    $('#observation_longitude').val('');
                }
            });
            /**************************
             * Autocomplete Bird
             ***************************************/
            $('#observation_taxref_customname').materialize_autocomplete({
                limit: 6,
                cacheable: true,
                multiple: {
                    enable: false
                },
                dropdown : {
                    el: '#dropBird'
                },
                getData: function (value, callback) {
                    var data = [];
                    $.ajax({
                        url: "{{ url('taxref.search.name') }}?bearer={{ jwt.token }}",
                        type: "POST",
                        dataType: "json",
                        data: { "name": value },
                        success: function (response) {
                            callback(value, response);
                        }
                    });
                },
            });
            /**************************
             * When user use the geolocation button, we try to determine her address
             ***************************************/
            $('#geoloc').on('click', function(event){
                event.preventDefault();
                if (navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(function(position){
                        var lat = parseFloat(position.coords.latitude);
                        var lng = parseFloat(position.coords.longitude);
                        updateLocalization(lat,lng);
                    });
                }
            });
            /**************************
             * Update coordinate and place to form
             ***************************************/
            function updateLocalization(lat, lng){
                var data = {lat: lat, lng: lng};
                $.post( "{{ url('region.nearest.city') }}?bearer={{ jwt.token }}", data, function( response ) {
                    $('#observation_place').parent().find('label').addClass('active');
                    $('#observation_place').val(response.city);
                    $('#observation_latitude').val(lat);
                    $('#observation_longitude').val(lng);
                });
            }
            /**************************
             * Google maps for pointing localisation
             ***************************************/
            var map;
            $('#pointer_map').modal({
                ready: function() {
                    map = new GMaps({
                        div: '#maps',
                        lat: 46.52863469527167,
                        lng: 2.43896484375,
                        zoom: 6,
                        width: '100%',
                        height: '550px',
                        fullscreenControl : false,
                        click: function(e) {
                            placeMarker(e.latLng);
                        },
                    });
                }
            });
            /**
             * Add custom marker for position
             * @param location
             */
            function placeMarker(location){
                map.removeMarkers();
                map.addMarker({
                    position: location,
                    icon: "{{ asset('bundles/naocore/img/marker.png') }}",
                    title: 'cliquez de nouveau sur la localisation pour la valider',
                    click: function(e) {
                        updateLocalization(location.lat(), location.lng());
                        $('#pointer_map').modal('close');
                    }
                });
            }
        });
    </script>
    <script>
        (function($){

            $(function(){

                /* ==================================================
                 DATEPICKER
                 ===========================================================*/
                $('.datepicker').pickadate({
                    monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthsShort: ['Janv', 'Févr', 'Mars', 'Avr', 'Mai', 'Juin', 'Juill', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'],
                    weekdaysFull: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    weekdaysLetter: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                    format: 'dd/mm/yyyy',
                    selectMonths: true,
                    selectYears: 2,
                    today: 'Aujourd\'hui',
                    clear: 'Supprimer',
                    close: 'Ok',
                    firstDay: 1,
                    closeOnSelect: false,
                    max: new Date()
                });
            });
        })(jQuery);
    </script>
{% endblock %}