{% extends "layout.html.twig" %}

{% block title %}Observation - {{ parent() }}{% endblock %}

{% block body %}
    <!--Header-area-->
    <header class="header-area-observation overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text-observation">
                        <h2>Les Observations</h2>
                    </div>
                </div>
            </div>
    </header>

    <section class="section-padding gray-bg" id="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card no-style observation no-border">
                            <div class="item active row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="{{ asset('bundles/naocore/img/oiseaux/observations/' ~ observation.imagePath ) }}" alt="Image d'un oiseaux" style="max-width: 300px;">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>{{ 'Observation du %date%'|trans({'%date%': observation.watched|date("d/m/Y")}) }}<br/></h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>{{ observation.taxref.commonName }}</p>
                                            <p>{{ '%individuals% individu(s) observé(s) le %date%'|trans({'%individuals%': observation.individuals, '%date%': observation.watched|date("d/m/Y")}) }}<br/>
                                                {{ 'à %place%'|trans({'%place%': observation.place}) }}</p>
                                            par <a href="{{ path('user.username', {'id' : observation.user.id, 'username' : observation.user }) }}">{{ observation.user }}</a>
                                            <p>{{ 'Coordonnées GPS %latitude% N, %longitude% E' | trans({'%latitude%': observation.latitude | gps_dms, "%longitude%": observation.longitude | gps_dms()}) }}</p>
                                            {% if not observation.comments == null %}
                                                <p>Commentaire: <br />{{ observation.comments }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="observedby">
                                        <p>Valider par : <br />
                                            <div class="observation-validate-content">
                                            <span>
                                                <img class="circle" src="{{ asset('bundles/naocore/img/pictos/user-avatar.png' ) }}" alt="Photo de profil" style="max-width: 40%;"/>
                                            </span>
                                                <div class="observation-validate-detail">                                       
                                                    <a href="{{ path('user.username', {'id' : observation.user.id, 'username' : observation.naturalist }) }}"
                                                       class="bleen">
                                                       {{ observation.naturalist }}
                                                   </a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding-card gray-bg" id="blog-page">
        <div class="container">
        <h2>{{ 'Dernier spécimen observé du %name%'|trans({'%name%': observation.taxref.commonName}) }}</h2>
        {% if lastobs != null %}
            <div class="row">
                <div class="col s12 m6 offset-l4 l4">
                    {% include 'observation/cards/observation.html.twig' with {'observation': lastobs } only %}
                </div>
            </div>
        {% else %}
            <p>Il n'y a pas d'autre observation pour ce spécimen</p>
        {% endif %}
        </div>
    </section>
{% endblock %}