{% extends "layout.html.twig" %}
{% block headtitle %}{{ parent() }}{% endblock %}
{% block head %}<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">{% endblock %}
{% block body %}
    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text">
                        <img id="nao" src="{{ asset('bundles/naocore/img/04-nao-logo-petit-jaune.png') }}" alt="Logo Nos amis les oiseaux">
                        <h2>Partagez votre passion pour les oiseaux et la nature</h2>
                        <h3>Venez avec nous contribuer au recensement des espèces sur le territoire et soutenir le programme de recherche sur la biodiversité</h3>
<!-- ajouter le liens -->                        <a href="#" class="button white">Découvrez l'Ornithologie</a>
                    </div>
                </div>
            </div>
    </header>
    <!--Header-area/-->

    <!--Feature-area-->
    <section class="gray-bg section-padding" id="service-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">
                            <div id="wb_FontAwesomeIcon3">
                                <a href="{{ path('fos_user_registration_register') }}" title="Top"><div id="FontAwesomeIcon3"><i class="fa fa-pencil"></i></div></a>
                            </div>
                        </div>
                        <h4>Inscrivez-Vous</h4>
                        <p>Créez un compte en remplissant le formulaire</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">
                            <div id="wb_FontAwesomeIcon3">
                                <a href="#top" title="Top"><div id="FontAwesomeIcon3"><i class="fa fa-camera"></i></div></a>
                            </div>
                        </div>
                        <h4>Observez / Partagez</h4>
                        <p>Entrez les informations que vous avez recueilli</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">
                            <div id="wb_FontAwesomeIcon3">
                                <a href="#top" title="Top"><div id="FontAwesomeIcon3"><i class="fa fa-map-o"></i></div></a>
                            </div>
                        </div>
                        <h4>Consultez</h4>
                        <p>Parcourez la liste des especes recensées</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature-area-->
    <!-- section Observation -->
    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <!-- Les différent article ce trouve ici -->
                            <div class="item active row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Observation du ....</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                            <a href="#" class="button">Read more</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="{{ asset('bundles/naocore/img/oiseaux/carduelis-tristis.jpg') }}" alt="carduelis tristis">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- seconde observation -->
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Observation du ....</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                            <a href="#" class="button">Read more</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="{{ asset('bundles/naocore/img/oiseaux/carduelis-tristis.jpg') }}" alt="carduelis tristis">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 3 observation -->
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Observation du ....</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                            <a href="#" class="button">Read more</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="{{ asset('bundles/naocore/img/oiseaux/carduelis-tristis.jpg') }}" alt="carduelis tristis">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 4 observation -->
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Observation du ....</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                            <a href="#" class="button">Read more</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="{{ asset('bundles/naocore/img/oiseaux/carduelis-tristis.jpg') }}" alt="carduelis tristis">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin des observation -->
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators caption-indector">
                            <li data-target="#caption_slide" data-slide-to="0" class="active">
                                <strong>Observation du  </strong>Nom de l'oiseau consectetur.
                            </li>
                            <li data-target="#caption_slide" data-slide-to="1" class="active">
                                <strong>Observation du  </strong>Nom de l'oiseau consectetur.
                            </li>
                            <li data-target="#caption_slide" data-slide-to="2" class="active">
                                <strong>Observation du  </strong>Nom de l'oiseau consectetur.
                            </li>
                            <li data-target="#caption_slide" data-slide-to="3" class="active">
                                <strong>Observation du  </strong>Nom de l'oiseau consectetur.
                            </li>
                        </ol>
                        <!-- Fin Indicators -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de la section Observation -->
    <!-- Last Article -->
    <section class="section-padding gray-bg" id="blog-page">
        <div class="container">
            <div class="row">
                <!-- Premier article de blog-->
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="box" style="padding: 10px 10px; text-align: left;">
                            <div class="blog-photo">
                                <img src="{{ asset('bundles/naocore/img/blog/small1.jpg') }}" alt="default">
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Altercation avec la ligue de protection des oiseaux </a></h3>
                                <ul class="blog-meta">
                                    <li><span class="ti-user"></span> <a href="#">Admin</a></li>
                                    <li><span class="ti-calendar"></span> <a href="#">Feb 01, 2017</a></li>
                                </ul>
                                <p>Allain Bougrain Dubourg, président de la LPO s'était rendu chez un Landais ... Jean-Marc Dutouya, renommé « l'homme en slip », est jugé en ...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2 article de blog-->
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="box" style="padding: 10px 10px; text-align: left;">
                            <div class="blog-photo">
                                <img src="{{ asset('bundles/naocore/img/blog/small1.jpg') }}" alt="default">
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Brenne : l'oiseau emblématique de la région est en déclin…</a></h3>
                                <ul class="blog-meta">
                                    <li><span class="ti-user"></span> <a href="#">Admin</a></li>
                                    <li><span class="ti-calendar"></span> <a href="#">Feb 01, 2017</a></li>
                                </ul>
                                <p>Connaissez-vous la guifette moustac ? Ce petit oiseau qui affectionne les zones humides est l'animal symbole de la région de la Prenne, dans ...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3 article de blog-->
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="box" style="padding: 10px 10px; text-align: left;">
                            <div class="blog-photo">
                                <img src="{{ asset('bundles/naocore/img/blog/small1.jpg') }}" alt="default">
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Pourquoi la disparition des oiseaux est un véritable désastre ?</a></h3>
                                <ul class="blog-meta">
                                    <li><span class="ti-user"></span> <a href="#">Admin</a></li>
                                    <li><span class="ti-calendar"></span> <a href="#">Feb 01, 2017</a></li>
                                </ul>
                                <p>Selon les observations du CNRS et du Muséum d'histoire naturelle, environ un tiers des oiseaux ont disparu de nos campagnes françaises...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fin section Article -->
{% endblock %}