{% extends "layout.html.twig" %}
{% block headtitle %}{{ parent() }}{% endblock %}

{% block head %}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">{% endblock %}
{% block body %}
    <!--Notice-area-->
    <div class="col-md-12">
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
          <div class="row v-center">
            <div class="col-xs-12 col-md-7 header-text">
              <img id="nao" src="{{ asset('bundles/naocore/img/logo-nao-jaune.png') }}" alt="Logo Nos amis les oiseaux">
              <h2>Partagez votre passion pour les oiseaux et la nature</h2>
              <h3>Venez avec nous contribuer au recensement des espèces sur le territoire et soutenir le programme de recherche sur la biodiversité</h3>
              <!-- ajouter le lien -->                        
              <a href="{{ path('observation.map') }}" class="btn btn-light mainButton">Aidez nous à recenser les oiseaux</a>
            </div>
          </div>

        </div>
    </header>
    <!--Header-area/-->

    <!--Feature-area-->
    <section class="gray-bg section-padding" id="service-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('user.username', {'username': app.user.username } ) }}" title="Register">
                    <div class="box">
                        <div class="box-icon">
                            <div id="wb_FontAwesomeIcon3">
                                <div id="FontAwesomeIcon3"><i class="fa fa-pencil"></i></div>
                            </div>
                        </div>
                        <h4>Inscrivez-Vous</h4>
                        <p>Créez un compte en remplissant le formulaire</p>
                    </div>
                    </a>
                  {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" title="Register">
                    <div class="box">
                        <div class="box-icon">
                            <div id="wb_FontAwesomeIcon3">
                                <div id="FontAwesomeIcon3"><i class="fa fa-pencil"></i></div>
                            </div>
                        </div>
                        <h4>Inscrivez-Vous</h4>
                        <p>Créez un compte en remplissant le formulaire</p>
                    </div>
                    </a>
                  {% endif %}
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="{{ path('observation.create') }}" title="Observation">
                    <div class="box">
                        <div class="box-icon">
                            <div id="wb_FontAwesomeIcon3">
                                <div id="FontAwesomeIcon3"><i class="fa fa-camera"></i></div>

                            </div>
                        </div>
                        <h4>Observez / Partagez</h4>
                        <p>Entrez les informations que vous avez recueilli</p>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="{{ path('observation.map') }}" title="Carte">
                    <div class="box">
                        <div class="box-icon">
                            <div id="wb_FontAwesomeIcon3">
                                <div id="FontAwesomeIcon3"><i class="fa fa-map-o"></i></div>

                            </div>
                        </div>
                        <h4>Consultez</h4>
                        <p>Parcourez la liste des especes recensées</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--Feature-area-->
    <!-- section Observation -->
    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    {% if observations|length > 0 %}
                    <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <!-- Les différent article ce trouve ici -->
                            {% for observation in observations %}
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>{{ 'Observation du %date%'|trans({'%date%': observation.watched|date("d/m/Y")}) }}</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <h3>{{ observation.taxref.commonName }}</h3>
                                            <p>{{ 'À %place%'|trans({'%place%': observation.place}) }}</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                            <a href="{{ path('observation.detail', {'id' : observation.id}) }}" class="button">Read more</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="{{ asset('bundles/naocore/img/oiseaux/observations/' ~ observation.imagePath ) }}" alt="Image d'un oiseaux">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- Fin des observation -->
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators caption-indector">
                            {% for observation in observations %}
                            <li data-target="#caption_slide" data-slide-to="" class="active">
                                <strong>{{ 'Observation du %date%'|trans({'%date%': observation.watched|date("d/m/Y")}) }} </strong>{{ observation.taxref.commonName }}
                            </li>
                            {% endfor %}
                        </ol>
                        <!-- Fin Indicators -->
                    </div>
                    {% else %}
                        <h2>Il n'y a pas encore d'observations</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de la section Observation -->
    <!-- Last Article -->
    <section class="section-padding gray-bg" id="blog-page">
        <div class="container">
            <div class="row">
                {% for article in listArticles %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="single-blog">
                            <div class="box" style="padding: 10px 10px; text-align: left;">
                                <div class="blog-photo">
                                    {% if article.image is not null %}
                                        <img
                                                src="{{ asset(article.image.webPath) }}"
                                                alt="{{ aticle.image.alt }}"
                                                height="800"
                                                width="533"
                                        />
                                    {% else %}
                                        <img src="{{ asset('bundles/naocore/img/blog/small1.jpg') }}" alt="default"
                                        height="800"
                                        width="533">
                                    {% endif %}
                                </div>
                                <div class="blog-content">
                                    <h3><a href="{{ path('article', {'id': article.id}) }}">{{ article.title }}</a></h3>
                                    <ul class="blog-meta">
                                      <i class="glyphicon glyphicon-user"></i>
                                      <a href="{{ path('user.username', {'username': article.user } ) }}">{{ article.user }}</a>
                                      <i class="glyphicon glyphicon-calendar"></i>
                                      <span>{{ article.date|date('d/m/Y') }}</span>
                                    </ul>
                                    <p>{{ article.content|truncate(100, true) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    Pas d'article
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- fin section Article -->
{% endblock %}