{% block navbar %}
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <div class="navbar-header">
                {% if (app.request.requesturi == path('homepage')) %}
                  <a href="{{ path('homepage') }}" class="navbar-brand logo"><img src="{{ asset('bundles/naocore/img/logo-nao-gris.png') }}" \></a>
                {% else %}
                  <a href="{{ path('homepage') }}" class="navbar-brand logo"><img src="{{ asset('bundles/naocore/img/logo-nao-jaune.png') }}" \></a>
                {% endif %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </div>
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ path('bird.list') }}">Fiche Oiseaux</a></li>
                    <li><a href="{{ path('observation.map') }}">Carte</a></li>
                    <li><a href="{{ path('index') }}">Blog</a></li>
                    <li><a href="{{ path('game') }}">Salle de Jeux</a></li>
                    <li><a href="{{ path('about') }}">A propos</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>

                    {# CONNEXION/DÉCONNEXION #}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                      </li>
                    {% else %}
                      <li><a href="{{ path('fos_user_security_login') }}">
                      Connexion</a>
                      </li>
                    {% endif %}

                    {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_ADMIN")) %}
                      <li><a href="{{ path('user.username', {'username': app.user.username } ) }}" class="helloAdmin" >Bonjour {{ app.user.username }} !</a>
                      </li>
                      <li><a href="{{ path('admin') }}" class="helloAdmin" >Administration</a>
                      </li>
                    {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      <li>
                        <a href="{{ path('user.username', {'username': app.user.username } ) }}" class="helloUser" >
                          Bonjour {{ app.user.username }} !
                        </a>

                      </li>
                    {% endif %}
                    <li><a href="javascript:void(0)" class="dropdown-button" data-activates="dropdown-search"><i class="material-icons">search</i></a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}