{% block navbar %}
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {# LOGO #}
                {% if (app.request.requesturi == path('nao_core_homepage')) %}
                  <a href="{{ path('nao_core_homepage') }}" class="navbar-brand logo"><img src="{{ asset('img/03-nao-logo-petit-noir.png') }}" \></a>
                {% else %}
                  <a href="{{ path('nao_core_homepage') }}" class="navbar-brand logo"><img src="{{ asset('img/04-nao-logo-petit-jaune.png') }}" \></a>
                {% endif %}
            </div>
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Carte</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Salle de Jeux</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li><a href="javascript:void(0)" class="dropdown-button" data-activates="dropdown-search"><i class="material-icons">search</i></a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}