{% trans_default_domain 'FOSUserBundle' %}

<main role="main" class="container" id="pageRegister">

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
	<div class="textWarning">* Indique un champ obligatoire</div>
	<div class="form-group row col-lg-12 col-sm-12 col-xs-12">
		{# Nom #}
		<div class="col-lg-6 col-xs-12">
			{{ form_label(form.lastname, 'Nom*', {'label_attr': {'class': 'control-label'} }) }}
			{{ form_errors(form.lastname) }}			
			{{ form_widget(form.lastname, {'attr': {'class': 'form-control'} }) }}
		</div>
		{# Prénom #}
		<div class="col-lg-6 col-xs-12">
			{{ form_label(form.firstname, 'Prénom*', {'label_attr': {'class': 'control-label'} }) }}
			{{ form_errors(form.firstname) }}			
			{{ form_widget(form.firstname, {'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="form-group row col-lg-12 col-xs-12">
		{# Pseudo #}
		<div class="col-lg-6 col-xs-12">
			{{ form_label(form.username, 'Pseudo*', {'label_attr': {'class': 'control-label'} }) }}
			{{ form_errors(form.username) }}			
			{{ form_widget(form.username, {'attr': {'class': 'form-control'} }) }}
		</div>
		{# Ville, voir pour remplacer par une liste déroulante #}
		<div class="col-lg-6 col-xs-12">
			{{ form_label(form.town, 'Ville*', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_errors(form.town) }}			
			{{ form_widget(form.town, {'attr': {'class': 'form-control'} }) }}	
		</div>
	</div>
	<div class="form-group row col-lg-12 col-xs-12">
		{# Email #}
		<div class="col-lg-6 col-xs-12">
			{{ form_label(form.email, 'Email*', {'label_attr': {'class': 'control-label'} }) }}
			{{ form_errors(form.email) }}			
			{{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
		</div>
		{# Présentation #}
		<div class="col-lg-6 col-xs-12">
			{{ form_label(form.presentation, 'Présentation', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_errors(form.presentation) }}			
			{{ form_widget(form.presentation, {'attr': {'class': 'form-control'} }) }}	
		</div>
	</div>

	<div class="form-group row col-lg-6 col-sm-12 col-xs-12" style="padding-left: 30px;">		

		{# Mot de passe #}
		<div>
			{{ form_label(form.plainPassword.first, 'Mot de passe*', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_errors(form.plainPassword.first) }}			
			{{ form_widget(form.plainPassword.first, {'attr': { 'class': 'form-control', 'placeholder': 'Choississez un mot de passe' } }) }}	
		</div>
		<div>
			{{ form_label(form.plainPassword.second, 'Répetez le mot de passe*', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_errors(form.plainPassword.second) }}			
			{{ form_widget(form.plainPassword.second, {'attr': { 'class': 'form-control', 'placeholder': 'Encore une fois' } }) }}	
		</div>
	    {# RGPD #}
		<div class="rgpdNewsletter">
			<label for="{{ form.rgpd.vars.id }}"></label>
			<input type="checkbox" class="form-check" id="{{ form.rgpd.vars.id }}" required="required" />
			<p>En soumettant ce formulaire, j’accepte que les informations saisies soient exploitées dans le cadre du programme de recherche auquel participe l’association Nos Amis les Oiseaux, visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité *</p>
			{{ form_errors(form.rgpd) }}
			{% do form.rgpd.setRendered %}
		</div>
		{# Newsletter #}
		<div class="rgpdNewsletter">
			<label for="{{ form.newsletter.vars.id }}"></label>
			<input type="checkbox" class="form-check" id="{{ form.newsletter.vars.id }}"   />
			<p>En soumettant ce formulaire, j’accepte de m’inscrire à la newsletter afin de recevoir par mail les derniers articles du blog</p>
			{{ form_errors(form.newsletter) }}
			{% do form.newsletter.setRendered %}
		</div>
		{# Politique de confidentialité #}
		<div class="rgpdNewsletter">
			<p id="politiqueConf">Pour connaitre et exercer vos droits, notamment de retrait de votre consentement à l’utilisation des données collectées par le formulaire, veuillez consulter notre <a href="#">politique de confidentialité</a>.
		</p>
		</div>
		{# SUBMIT #}
		<div>
			<input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-light" />
		</div>

		<div>{{ form_widget(form) }}</div>
	</div>
{{ form_end(form) }}
</main>