
{# <h3>Formulaire d'article</h3> #}

<div class="row col-lg-12 col-sm-12">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération du label + error + widget pour un champ. #}
    {% if form.date is defined %}
        {{ form_row(form.date) }}
    {% endif %}

    {# Génération manuelle et éclatée : #}
    <div class="col-lg-12 col-sm-12">
        {# Génération du label. #}
        {{ form_label(form.title, "Titre de l'article", {'label_attr': {'class': 'control-label'}}) }}
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.title) }}    
        {# Génération de l'input. #}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}} ) }}      
    </div>

    {# Idem pour un autre champ. #}
    <div class="col-lg-12 col-sm-12">
        {{ form_label(form.content, "Contenu de l'article", {'label_attr': {'class': 'control-label'} } ) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }} 

    {# {{ form_row(form.user) }} #}

    <div class="col-lg-12 col-sm-12">
        {{ form_row(form.image) }}
    </div>

    <input type="submit" value="Modifier" class="btn btn-light" />
    {% do form.submit.setRendered %}

    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>

