
<div class="row col-lg-12 col-sm-12">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération du label + error + widget pour un champ. #}

    <div class="col-lg-12 col-sm-12">
        {{ form_label(form.content, "Votre commentaire", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
    </div>
    <div class="col-lg-12">
        <input type="submit" value="Commenter" class="btn btn-light" />
        {% do form.submit.setRendered %}
    </div>
    <div class="buttonBlog">
        <a href="{{ path('article', {'id': article.id}) }}" class="btn btn-light">
            <i class="glyphicon glyphicon-chevron-left"></i>
            <p>Retour à l'article</p>
        </a>
    </div>
    {{ form_rest(form) }}
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>

