{# <h3>Formulaire de commentaire</h3> #}

<div class="row col-lg-12 col-sm-12">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération du label + error + widget pour un champ. #}
    {% if form.date is defined %}
        {{ form_row(form.date) }}
    {% endif %}

    <div class="col-lg-12">
        {{ form_row(form.author) }}
    </div>
    <div class="col-lg-12">
        {{ form_label(form.content, "Votre commentaire", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
        {{ form_errors(form.content) }}
        <div class="col-lg-10">
            {{ form_widget(form.content) }}
        </div>
    </div>

    {# {% do form.date.setRendered %} #}
    {{ form_rest(form) }}
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>

