
{# blog/index.html.twig #}

{% extends "blog/layout.html.twig" %}
{% block headtitle %}Le blog – {{ parent() }}{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block naoblog_body %}
    <!--Header-area-->
    <header class="header-area-blog overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text-blog">
                        <h2>Le Blog</h2>
                        <h3>Consulter nos derniers articles</h3>
                    </div>
                </div>
            </div>
    </header>
    <section class="section-padding" id="blog-page">
        <div class="container" id="pageBlog">
            <div class="row">
                <!-- Premier article de blog-->
                {% for article in listArticles %}
                    {% if article.moderation == 1 %}
                        <div class="col-xs-12 col-sm-6">
                            <div class="single-blog">
                                <div class="box" style="padding: 10px 10px; text-align: left;">
                                    <div class="blog-photo">
                                        <img src="{{ asset('bundles/naocore/img/blog/small1.jpg') }}" alt="default">
                                    </div>
                                    <div class="blog-content">
                                        <h3>
                                            <a href="{{ path('article', {'id': article.id}) }}">
                                                {{ article.title }}
                                            </a>
                                        </h3>
                                        <ul class="blog-meta">
                                            <i class="glyphicon glyphicon-user"></i>
                                            <a href="{{ path('user.username', {'username': article.user } ) }}">{{ article.user }}</a>
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            <span>{{ article.date|date('d/m/Y') }}</span>
                                        </ul>  
                                        <p>{{ article.content|truncate(100, true) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-xs-12 col-sm-6">
                       <h3> Pas (encore !) d'article</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>




    {# <ul class="pagination">
         #}{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}{#
         {% for p in range(1, nbPages) %}
             <li{% if p == page %} class="active"{% endif %}>
                 <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
             </li>
         {% endfor %}
     </ul>#}

{% endblock %}