{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "blog/layout.html.twig" %}

{% block naoblog_body %}
    <section class="section-padding" id="article-page">
        <div class="container" id="pageArticle">
            <div class="blog-content">
                <h1>{{ article.title }}</h1>
                <div class="blog-meta">
                    <i class="glyphicon glyphicon-user"></i>
                    <a href="{{ path('user.username', {'username': article.user } ) }}">{{ article.user }}</a>
                    <i class="glyphicon glyphicon-time"></i>
                    <span>{{ article.date|date('d/m/Y') }}</span>                
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        {{ article.content }}
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {% if article.image is not null %}
                            <img
                                    src="{{ asset(article.image.webPath) }}"
                                    alt="{{ article.image.alt }}"
                                    height="60"
                            />
                        {% else %}
                            <img src="{{ asset('bundles/naocore/img/blog/small1.jpg') }}" alt="default">
                        {% endif %}
                    </div>
                </div>
                <div class="comment-container">
                    <h3>Commentaires</h3>
                        {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_USER")) %}
                            <a class="btn btn-light" href="{{ path('comment.add', {'id': article.id }) }}">Ajouter<br>un
                            commentaire</a>
                        {% endif %}
                    <div class="comment-content">
                        <ul>
                            {% for comment in listComments %}
                                {% if comment.moderation == 1 %}
                                    <li>
                                        <div id="commentUser"> 
                                            Posté par <a href="{{ path('user.username', {'username': app.user.username } ) }}" >{{ comment.user }}</a> le {{ comment.date|date("d/m/Y  H:i") }}
                                        </div>
                                        <hr class="hrComment">
                                        <div id="commentContent">
                                            {{ comment.content }}
                                        </div>
                                    </li>
                                {% endif %}
                            {% else %}
                                <p>aucun commentaire!</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="buttonBlog">
                    <a href="{{ path('index') }}" class="btn btn-light">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        <p>Retour à la liste</p>
                    </a>
                </div>
                {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_ADMIN")) %}
                <div class="buttonCommentAdmin">
                    <div class="buttonBlog">
                        <a href="{{ path('article.edit', {'id': article.id}) }}" class="btn btn-secondary">
                            <i class="glyphicon glyphicon-edit"></i>
                            <p>Modifier l'article</p>
                        </a>
                    </div>
                    <div class="buttonBlog">
                        <a href="{{ path('article.delete', {'id': article.id}) }}" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                            <p>Supprimer l'article</p>
                        </a>
                    </div>
                </div>
                {% endif %}               
            </div>
        </div>
    </section>
{% endblock %}