{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "blog/layout.html.twig" %}



{% block naoblog_body %}
    <section class="section-padding" id="article-page">
        <div class="container" id="pageArticle">
            <div class="blog-content">
                <h1>{{ article.title }}</h1>
                <div class="blog-meta">
                    <i class="glyphicon glyphicon-user"> {{ article.author }}</i>
                    <i class="glyphicon glyphicon-time"> {{ article.date|date('d/m/Y') }}</i>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        {{ article.content }}
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {% if article.image is not null %}
                            <img
                                    src="{{ asset(article.image.webPath) }}"
                                    alt="{{ article.image.alt }}"
                                    height="60"
                            />
                        {% else %}
                            <img src="{{ asset('bundles/naocore/img/blog/small1.jpg') }}" alt="default">
                        {% endif %}
                    </div>

                </div>
                <div class="comment-container">


                    <h3>Commentaires</h3>
                    {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_USER")) %}
                        <a class="btn btn-light" href="{{ path('comment.add', {'id': article.id }) }}">Ajouter un
                        commentaire</a>
                    {% endif %}


                    <div class="comment-content">

                        <ul>
                            {% for comment in listComments %}
                                <li> Posté par {{ comment.author }} le {{ comment.date|date("d/m/Y  H:i") }}
                                    <hr>
                                    {{ comment.content }}
                                </li>
                            {% else %}
                                <p>aucun commentaire!</p>
                            {% endfor %}
                        </ul>
                        {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_USER")) %}
                            <a class="btn btn-light" href="{{ path('comment.add', {'id': article.id }) }}">Ajouter un
                            commentaire</a>
                        {% endif %}
                    </div>


                    <p>
                </div>
                <a href="{{ path('index') }}" class="btn btn-light">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour à la liste
                </a>
                {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_ADMIN")) %}
                    <a href="{{ path('article.edit', {'id': article.id}) }}" class="btn btn-light">
                        <i class="glyphicon glyphicon-edit"></i>
                        Modifier l'article
                    </a>
                    <a href="{{ path('article.delete', {'id': article.id}) }}" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Supprimer l'article
                    </a>
                {% endif %}
                </p>
            </div>
        </div>
    </section>
{% endblock %}