{# app/Ressource/views/user/show.html/twig #}

{% extends 'layout.html.twig' %}

{% block body %}
    <!--Header-area-->
    <header class="header-area-register overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text-register">
                        <h2>{{ user.username }}</h2>
                    </div>
                </div>
            </div>
    </header>

    <main role="main" class="container" id="pageLogin">
        <p>Id : {{ user.id }}</p>
        <p>Nom : {{ user.lastname }}</p>
        <p>Prénom : {{ user.firstname }}</p>
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        <p>Ville : {{ user.town }}</p>
        <p>Nombre de points : {{ user.points }}</p>
        <p>Niveau : {{ userLevel }}</p>
    </main>
    
{% endblock %}