{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<main role="main" class="container" id="pageLogin">
    <div class="row col-lg-12">
        <div class="col-lg-7 col-xs-12">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Votre pseudo" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Votre mot de passe" />

                <div id="dejaVu">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <div class="forgetAndSubscribe">
                    <p>
                        <a href="#" id="forget">Mot de passe oublié</a> ?<br><a href="{{ path('fos_user_registration_register') }}" class="subscribe">S'inscrire</a>
                   </p>
                </div>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-light" />
            </form>
        </div>
        <div class="col-lg-5 col-xs-12">
            <img src="{{ asset('bundles/naocore/img/pictos/oiseau-jaune-01.png') }}" alt="oiseau-silouhette" />
        </div>
</main>